.background {
    display: flex;
    justify-content: center;
}
.container-enter {

    background-color: #efefef;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    border-radius: 7px;
}
