

@media (max-width: 667px) {
    .art {
        display: none;
    }
    .container {
        justify-content: center;
    }
    .container-login {
        justify-content: center;
        margin: 30px 0;
    }
}

:root {
    --cor1: #9BE06B; 
    --cor2: #5CC710;
    --cor3: #214706;
}

.background {
    background-color: var(--cor1);
    font-family: 'Poppins', sans-serif;
    /*padding: 50px 0;*/
    height: 650px;

    display: flex;
    align-items: center;
}

.container {
    background-color: #dddddd;
    
    border-radius: 7px;
    box-shadow: 2px 2px 5px var(--cor2);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    padding: 0;

    width: 920px;
}

.art {
    width: 530px;
    height:400px;
    border-radius: 7px 0 0 7px;

    padding-right: 80px;
}

.art img {
    width: 530px;
    height: 400px;
    border-radius: 7px 0 0 7px;

    background-size: cover;
    background-position: center;
}

.container-login {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;

    padding: 0 14px;
}

.container-login form {
    padding: 0;
    margin: 0;
}

.container-login h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--cor2);
}

.container-login h4 {
    color: var(--cor2);
}

.container-login input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.container-login > input:focus {
    box-shadow: 4px;
    outline-color: var(--cor3);
}

.inputPassword {
    display: flex;
    align-items: center;
    flex-direction: initial;
    border-radius: 5px;
    margin-top: 10px;
    width: 335px;
}

.inputPassword > input {
    width: 305px;
}

.inputPassword > input:focus {
    box-shadow: 4px;
    outline-color: var(--cor3);
}

.inputPassword img {
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    width: 30px;
}

.logar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}